body {
	padding-top: 4.5rem
}
a {
	color: #6c757d!important
}

.home-jumbo {
	max-width: 700px;
}

.table .thead-light th {
	background-color: rgba(0, 0, 0, 0.03)
}

.cursor-pointer {
	cursor: pointer
}